.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(#250101,black);
    text-align: center;
}

.heading{
    font-size: 68px;
}

.subheading{
    font-size:35px;
    font-family: 'Cinzel', serif;
    color:#c35630;
}

.bookBackground{
    background-image: linear-gradient(black,#1a1a1a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

.book{
    width:auto;
    width:700px;
    color:white;
    padding: 20px;
    background-color: #111;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.size{
    background-color: #d97706;
    cursor:pointer;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    color:#f7e6e6;
    text-shadow: 0px 0px 4px black;
    width:50px;
    height:35px;
}

.themeButton{
    cursor:pointer;
    border:none;
    font-size: 15px;
    border-radius: 5px;
    width:55px;
    height:35px;
}

.themeButton:focus{
    border:2px solid #c35630;
    box-shadow: 0px 0px 10px #c35630;
}

.fontSizeAdjuster{
    display: flex;
    gap:8px;
}

.theme{
    display: flex;
    gap:8px;
}

.separator{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
}

.readingArea{
    margin-top: 25px;
    line-height: 1.8em;
}

.footer{
    padding-top: 50px;
    background-image: linear-gradient(#1a1a1a,black,black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.footer p{
    font-family: 'Cinzel',serif;
    font-size: 15px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 10px;
}


@media only screen and (max-width:768px){
    .book{
        width:85vw;
        color:white;
        padding: 20px;
        background-color: #111;
    }
}

@media only screen and (max-width:384px){
    .navbar{
        display: flex;
        justify-content: left;
    }
    .theme{
        margin-top: 20px;
    }
}